@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    Square House Shifting<br />
    Redmond, NY 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@sqhshifting.com">Support@sqhshifting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sqhshifting.com">Marketing@sqhshifting.com</a>
</address>