@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Square House Shifting</h1>
    <p><a href="/Home/CalculateDistance" class="btn btn-primary btn-lg">Calculate Distance</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Shifting one’s household has never been an easy task. There are many packers and movers which are not registered and have no real office spaces.
            The whole process of moving begins with making numerous calls to various packers and movers,
            asking them to visit the house and struggling to decide the mover that suits one’s requirements.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div style="">
        <div id="thumbnail-slider">
            <div class="inner">
                <ul>
                    <li>
                        <a class="thumb" href="img/1.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="img/2.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="img/3.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="img/4.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="img/5.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>